@use '/src/styles/constants/colors';
@use '/src/styles/mixins/neon';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: colors.$WHITE;
}

.modeWrapper {
  display: flex;
  gap: 20px;

  button {
    @include neon.border(colors.$PRIMARY, $hover: true);
    @include neon.text(colors.$TERTIARY, 2rem);

    padding: 30px 50px;
    cursor: pointer;
    background-color: colors.$BLACK;
  }
}

.infoWrapper {
  display: flex;
  gap: 20px;
}
