$WHITE: #FFFFFF;
$BLACK: #010A01;
$GRAY: #808080;

$PRIMARY: #FF14BD;
$SECONDARY: #3FA5FB;
$TERTIARY: #8B03FF;

$TETROMINO_0: #000000;
$TETROMINO_I: #50E3C2;
$TETROMINO_J: #245FDF;
$TETROMINO_L: #DFAD24;
$TETROMINO_O: #DFD924;
$TETROMINO_S: #30D338;
$TETROMINO_T: #843DC6;
$TETROMINO_Z: #E34E4E;

$ONE_MINE: #40C8E0;
$TWO_MINE: #5E5CE6;
$THREE_MINE: #30D158;
$FOUR_MINE: #FF453A;
$FIVE_MINE: #BF5AF2;
$SIX_MINE: #FF9F0A;
$SEVEN_MINE: #FFD60A;
$EIGHT_MINE: #AC8E68;
