@use '@styles/constants/colors';

// text-shadow: [x-offset] [y-offset] [blur-radius] [color];

@mixin text($color, $size) {
  font-size: $size;
  color: colors.$WHITE;
  text-shadow:
    0 0 7px colors.$WHITE,
    0 0 10px colors.$WHITE,
    0 0 21px colors.$WHITE,
    0 0 82px $color,
    0 0 42px $color,
    0 0 92px $color,
    0 0 102px $color,
    0 0 151px $color;
}

@mixin border($color, $hover: false) {
  border: 0.2rem solid colors.$WHITE;
  border-radius: 2rem;
  box-shadow:
    0 0 0.2rem colors.$WHITE,
    0 0 0.2rem colors.$WHITE,
    0 0 2rem $color,
    0 0 0.8rem $color,
    0 0 2.8rem $color,
    inset 0 0 1.3rem $color;
  transition: 0.3s;

  @if $hover {
    &:hover {
      border-color: $color;
      box-shadow:
        0 0 0.2rem $color,
        0 0 0.2rem $color,
        0 0 2rem $color,
        0 0 0.8rem $color,
        0 0 2.8rem $color,
        inset 0 0 1.3rem $color;
    }
  }
}
