@use '/src/styles/constants/colors';
@use '/src/styles/mixins/neon';

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  @include neon.border(colors.$PRIMARY, $hover: true);
  @include neon.text(colors.$PRIMARY, 5rem);

  padding: 30px 50px;
  cursor: pointer;
  background-color: colors.$BLACK;
}
